absl-py==0.11.0
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
backcall==0.1.0
batchgenerators==0.21
cachetools==4.1.0
certifi==2020.6.20
chardet==3.0.4
cloudpickle==1.3.0
cycler==0.10.0
cytoolz==0.10.1
dataclasses==0.8
dataclasses==0.8
decorator==4.4.2
easydict==1.9
flatbuffers==1.12
future==0.18.2
gast==0.3.3
geomloss==0.2.4
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.9
imageio==2.8.0
ipdb==0.13.2
ipykernel==5.4.2
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
joblib==0.15.1
jupyter-client==6.1.7
jupyter-core==4.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
linecache2==1.0.0
Markdown==3.2.1
matplotlib==3.1.3
mccabe==0.6.1
MedPy==0.4.0
networkx==2.4
nibabel==3.0.2
numpy==1.19.4
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
opt-einsum==3.3.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydicom==1.4.2
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==20.0.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.4
seaborn==0.11.0
SimpleITK==1.2.4
six==1.15.0
tensorboardX==2.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.7.24
toml==0.10.1
toolz==0.10.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.45.0
traceback2==1.4.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
unittest2==1.1.0
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
contextvars==2.4
