## python & pytorch environments
# python==3.6
# torch==1.4.0
# torchvision==0.5.0

argparse
ast
batchgenerators==0.20.1
copy
datetime
easydict
gc
glob
ipdb
json==2.0.9
logging
math
matplotlib
numpy==1.17.1
opencv-python==3.4.3.18
os
random
scipy==1.1.0
shutil
skimage==0.16.2
sklearn==0.19.1
tensorboardX==1.6
time
tqdm
typing
yaml